 /*tags*/

 body {
 	background-image: url(../images/cinema.jpg);
	background-repeat: no-repeat;
	background-size: cover;
 	display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
 }


 /*classes*/

 .form-container {
 	width: 550px;
	height: 750px;
	background: #fffbfc;
	border: none;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
 }

.main-title {
   	text-align: center;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px; /* 200% */
	letter-spacing: 0.32px; 
	color: #2f2f2f;
	display: flex;
	justify-content: normal;
	align-items: center;
	width: 80%;
}

.title-container {
	width: 450px;
	height: 80px;
	background: #ffffff;
	border: solid;
	border-width: 1px;
	margin: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.info-area {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.info-text {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	color: #2f2f2f;
	width: 450px;
	margin-top: 0px;
}

.end-text {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: #2f2f2f;
	margin-top: 4px;
}

.bottom-line {
	border-bottom: 2px solid;
	padding-bottom: 7px;
}

.text-area {
	color: #2f2f2f;
	height: 60px;
	width: 450px;
	margin-bottom: 20px;
}

.text-area2 {
	color: #2f2f2f;
	height: 60px;
	width: 450px;
	margin-bottom: 0px;
}

.text-area__text{
	text-align: left;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	color: #2f2f2f;
	width: 450px;
	margin-top: 4px;
	margin-bottom: 5px;
}

.freetext-container {
	color: #2f2f2f;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.freetext-container2 {
	color: #2f2f2f;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 0px;
}

.submit-button {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.32px;
	width: 80px;
	height: 30px;
	border-radius: 4px;
	cursor: pointer;
	background: #FFFFFF;
	color: #2f2f2f;
	border: solid;
	margin-top: 5px;
	border-color:#2f2f2f;
}

.submit-button:hover {
	background: #e6e6e6;	
}

.rating {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.dropdown {
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.checkbox-field {
 	display: flex;
 	justify-content: flex-start;
 	align-items: center;
 	width: 450px;
}

.checkbox {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	cursor: pointer;
}

.checkbox-text {
	text-align: left;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	color: #2f2f2f;
	width: auto;
	margin: 0px;
}